.top-image {
    width: 100%;
    display: block;
    height: 400px;
    object-fit: cover;
}

.center {
    text-align: center;
}

.center-buttons {
    text-align: center;
}

.center-buttons a {
    display: inline-block;
    margin: 5px;
}
body {
  background-color: #ff9066;
}
.top-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0) 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0) 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: #ff9066;
}
