.diamond-button {
    background-color: #fc8c4b;
    color: white;
    padding: 10px 20px;
    border: 6px solid #f9f9f9;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
    );
}


.diamond-button:hover {
    background-color: #fa6b19;
    border-color: #ededed;
}


.top-image {
    width: 100%;
    height: 375px;
    object-fit: cover;
    display: block;
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0) 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0) 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: #ff9066;
}

.center {
    text-align: center;
}

.gen_info_center {
    text-align: center;
    margin-top: 200px;
}

.center-buttons {
    text-align: center;
}

.center-buttons a {
    display: inline-block;
    margin: 5px;
}

body {
    background-color: #ff9066;
    color: #FAF8EE;
}

.big-title {
    font-size: 60px;
    color: #FAF8EE;
    text-shadow: 2px 2px #e8c27a;
}
.info-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}


.todo-container {
    max-width: 400px;
    margin: 30px auto;
    background: #FAF8EE;
    padding: 20px;
    border-radius: 12px;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border: 2px solid #fc8c4b;
    border-radius: 8px;
    font-size: 16px;
}

.add-task-btn {
    padding: 12px 18px;
    border: none;
    background-color: #fc8c4b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.add-task-btn:hover {
    background-color: #fa6b19;
}

#taskList {
    margin-top: 15px;
    padding: 0;
}

#taskList li {
    list-style: none;
    background: #ffe4d3;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.delete-btn {
    background: crimson;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #b60000;
}

.question-square {
    width: 60px;
    height: 60px;
   background-color: #e6e6e6;
    border: 2px solid #FAF8EE;
    color: #fc8c4b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
}

.question-row {
    display: flex;
    justify-content: center;
    gap: 12px;
}