.top-image {
    width: 100%;
    display: block;
    height: 400px;
    object-fit: cover;
}

.center {
    text-align: center;
}

.center-buttons {
    text-align: center;
}

.center-buttons a {
    display: inline-block;
    margin: 5px;
}
body {
  background-color: #ff9066;
}
