.diamond-button {
    background-color: #fc8c4b;
    color: white;
    padding: 10px 20px;
    border: 6px solid #f9f9f9;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
    );
}


.diamond-button:hover {
    background-color: #fa6b19;
    border-color: #ededed;
}


.top-image {
    width: 100%;
    height: 375px;
    object-fit: cover;
    display: block;
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0) 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0) 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: #ff9066;
}

.center {
    text-align: center;
}

.center-buttons {
    text-align: center;
}

.center-buttons a {
    display: inline-block;
    margin: 5px;
}

body {
    background-color: #ff9066;
    color: #FAF8EE;
}

.big-title {
    font-size: 60px;
    color: #FAF8EE;
    text-shadow: 2px 2px #e8c27a;
}
.info-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}